body {
    background-color: #e6e6e6;
    font-family: "Microsoft JhengHei", Arial, sans-serif;
}


.login-container {
    width: 320px;
    margin: 80px auto;
    padding: 30px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.text-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.btn-login {
    width: 100%;
    background-color: #8f8f8f;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

    .btn-login:hover {
        background-color: #757575;
    }

.error {
    color: red;
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
}
